doctype
html
    .row
        .col-2
            label(for=field + 'Apartment') Apartment
            input.form-control(id=field + 'Apartment' type='text' name='#{field}[apartment]')
        .col-3
            label(for=field + 'Street') Street
            input.form-control(id=field + 'Street' type='text' name='#{field}[street]' required=required)
        .col-2
            label(for=field + 'City') City
            input.form-control(id=field + 'City' type='text' name='#{field}[city]' required=required)
        .col-1
            label(for=field + 'Province') Province
            input.form-control(id=field + 'Province' type='text' name='#{field}[province]' required=required)
        if country
            .col-2
                label(for=field + 'Country') Country
                input.form-control(id=field + 'Country' type='text' name='#{field}[country]' required=required)
        .col-2
            label(for=field + 'PostalCode') Postal Code
            input.postalCode.form-control(id=field + 'PostalCode' type='text' name='#{field}[postalCode]' required=required)