extends ../layout

block content
    script(type="text/javascript", src='/js/jquery.floatThead.js')
    script(type='text/javascript').
        var role = !{JSON.stringify(role)};
    script(src='/js/nr/monitoring.js')

    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(data-toggle='tab' href='#osSigned') O/S Signed
        li.nav-item
            a.nav-link(data-toggle='tab' href='#osPyt') O/S PYT        

    #table.col-12.tab-content(style='border-top: 0')
        - for (var i = 0; i < clients.length; i++)
            div(id=clients[i][0]).tab-pane
                table(id=clients[i][0] + 'Table').cell-border
                    thead
                        tr
                            th
                            th NR6
                            th NR4
                            th S216
                            th S115
                            th CC
                            th Owner Last Name
                            th Owner First Name
                            th Co-owner Last Name
                            th Co-owner First Name
                            th Signed
                            th PYT Rec'd
                            th PYT Amount
                    tfoot
                        tr
                            th
                            th NR6
                            th NR4
                            th S216
                            th S115
                            th CC
                            th Owner Last Name
                            th Owner First Name
                            th Co-owner Last Name
                            th Co-owner First Name
                            th Signed
                            th PYT Rec'd
                            th PYT Amount
                    tbody
                        each client in clients[i][1]
                            tr(data-href="/nr/client/" + client.pathName)
                                td.text-nowrap #{client.fileName}
                                td 
                                    each service in client.services
                                        |   #{service == 'NR6' ? 'Y' : ''}
                                td 
                                    each service in client.services
                                        |   #{service == 'NR4' ? 'Y' : ''}
                                td 
                                    each service in client.services
                                        |   #{service == 'S216' ? 'Y' : ''}
                                td 
                                    each service in client.services
                                        |   #{service == 'S115' ? 'Y' : ''}
                                td #{client.cc}
                                td #{client.owner.firstName}
                                td #{client.owner.lastName}
                                td #{client.coOwner ? client.coOwner.firstName : ''}
                                td #{client.coOwner ? client.coOwner.lastName : ''}
                                td.date-edit #{client.signed}
                                td.select.pytType #{client.pytRec}
                                td.edit #{client.pytAmount}