extends ../layout

block content
    script(type='text/javascript').
        var t2 = !{JSON.stringify(t2)};
    script(src='/js/t2/client.js')

    .card.offset-1.col-10
        form(method='post')
            - var disabled = true;
            - var needsClient = true;

            if (t2 && t2.client)
                - var client = t2.client;
                - needsClient = false;
            else
                - var client = {};

            include ../templates/client.jade

            br

            legend T2 Info
            hr
            .row
                .form-group.col-3
                    label(for='due') Due
                    input#due.form-control.datepicker(name='due' value=t2.due)
                .form-group.col-3
                    label(for='bank') Bank
                    input#bank.form-control(name='bank' value=t2.bank ? t2.bank.name : '')
                .form-group.col-3
                    label(for='bankNumber') Bank Number
                    input#bankNumber.form-control(name='bankNumber' value=t2.bank ? t2.bank.number : '')
            .row
                .form-group.col-12
                    label(for='investments') Investments
                    input#investments.form-control(name='investments' value=t2.investments ? t2.investments.join(', ') : '')
            .row
                .form-group.col-12
                    label(for='president') President
                    input#president.form-control(name='president' value=t2.president)
            .row
                .form-group.col-12
                    label(for='secretary') Secretary
                    input#secretary.form-control(name='secretary' value=t2.secretary)
            .row
                .form-group.col-12
                    label(for='directors') Directors
                    input#directors.form-control(name='directors' value=t2.directors ? t2.directors.join(', ') : '')
            
            br

            legend Shareholders
            hr            
            ul#shareholders.list-group
                li.list-group-item
                    .col-8
                        label=`Shareholder name`
                    .col-3
                        label=`Shareholder's percentage`
                    .col-1
                        span#addShareholder.btn.btn-primary
                            i.fa.fa-plus

            br

            legend Outstanding Info
            hr
            

            input.btn.btn-success.offset-1.col-10(type='submit' value='Done' style='margin-top:1%')