extends ../layout

block content
    script(type='text/javascript', src='/js/t2/monitoring.js')

    #table.col-12.tab-content
            table(id='t2Table').cell-border
                thead
                    tr
                        th Name
                        th Job In
                        th Job Pickup
                        th PA Time Allot
                        th PA Time Actual
                        th PA Time Variance
                        th Preparer
                        th Remarks
                        th Year Ended
                        th Due Date
                        th Reason
                        th Status
                        th T1
                        th T4
                        th T5
                tfoot
                    tr
                        th Name
                        th Job In
                        th Job Pickup
                        th PA Time Allot
                        th PA Time Actual
                        th PA Time Variance
                        th Preparer
                        th Remarks
                        th Year Ended
                        th Due Date
                        th Reason
                        th Status
                        th T1
                        th T4
                        th T5
                tbody
                    each t2 in t2s
                        tr(data-href="/t2/" + t2._id)
                            td.text-nowrap=t2.client.name
                            td.text-nowrap #{t2.jobIn}
                            td.text-nowrap #{t2.jobPickup}
                            td.text-nowrap #{t2.paTimeAllot}
                            td.text-nowrap #{t2.paTimeActual}
                            td.text-nowrap #{t2.paTimeVariance}
                            td=t2.preparer
                            td=t2.remarks ? t2.remarks.monitoring : ''
                            td.text-nowrap=t2.client.yearEnd ? t2.client.yearEnd : ''
                            td.text-nowrap #{t2.due}
                            td.text-nowrap #{t2.reason}
                            td.text-nowrap #{t2.status}
                            td=t2.t1 ? 'Y': ''
                            td=t2.t4 ? 'Y' : ''
                            td=t2.t5 ? 'Y' : ''
