extends ../layout

block content
    script(type="text/javascript").
        const GST = #{gst};
        const PST = #{pst};
        const clients = !{JSON.stringify(clients)};
        const services = !{JSON.stringify(services)};
    script(src='/js/invoice/invoice.js')

    .offset-1.col-10
        h1=title
        br
        form(method='post')
            hr
            .form-group
                label(for='clientString') Client
                input#clientString.form-control(name='clientString')
                input#client(name='client' hidden)
            .form-group
                label(for='company') Company
                select#company.form-control(name='company')
                    option(value='blcl') Benjamin Leung & Co. Ltd.
                    option(value='cantrust') Cantrust Co.
            #services
                .row
                    .col-2
                        .form-group
                            label(for='service') Service
                            select.form-control(type='text' name='services[0][service]')
                                option
                                each service in services
                                    option(value=service)=service
                    .col-9
                        .form-group
                            label(for='description') Details
                            textarea.form-control(type='text' name='services[0][details]' rows=4)
                .row
                    .offset-4.col-3
                        .form-group
                            label(for='amount') Amount
                            input.form-control(type='number' step='0.01' name='services[0][amount]')
                    .col-2
                        .form-group
                            label(for='gst') GST
                            input.form-control(type='text' name='services[0][gst]' readonly value='0.00')
                    .col-2
                        .form-group
                            label(for='pst') PST
                                i.fas.fa-lock
                            input.form-control(type='text' name='services[0][pst]' disabled value='')
            .row
                .col-4
                    input#addService.btn.btn-secondary(type='button' style='margin-top:25px' value='Add Service')
                .offset-3.col-4
                    .form-group
                        label(for='total') Total
                        input#total.form-control(type='text' name='total' readonly)

            input.btn.btn-success.offset-1.col-10(type='submit' value='Done' style='margin-top:1%; margin-bottom:3%;')