//
   Created by ander on 2017-11-01.

extends ../layout

block content
    script(type='text/javascript', src='/js/datatables/jquery.dataTables.min.js')
    script(type='text/javascript', src='/js/datatables/dataTables.buttons.min.js')
    script(type='text/javascript', src='/js/datatables/jszip.min.js')
    script(type='text/javascript', src='/js/datatables/buttons.html5.min.js')
    script(type='text/javascript', src='/js/datatables/datatables-sum.js')
    script(type='text/javascript', src='/js/invoice/sales.js')

    .row
        .col-4.form-group
            label(for='weeks') Week of
            select#weeks.form-control(name='weeks')
                each week, index in weeks
                    if (index === 0)
                        option(value=week selected='selected')=week
                    else
                        option(value=week)=week
        .col-4.form-group
            label(for='company') Company
            select#company.form-control(name='company')
                option(value='blcl' selected) Benjamin Leung & Co., Ltd.
                option(value='cantrust') Cantrust Business Service Ltd.

    #table.col-12.tab-content
        table.cell-border(style='width: 100%')
            thead
                tr
                    th #
                    th Client Name
                    th Total A/R
                    each service in services
                        th=service.toUpperCase()
                    th GST Rec
            tfoot
                tr
                    th
                    th
                    each service in services
                        th
                    th
                    th
            tbody
                each invoice in invoices
                    tr.clickable-row(data-href="/invoice/invoice/" + invoice._id)
                        - var client = invoice.client;
                        if client
                            - client = client.name
                        else
                            - client = invoice.oneTimeClient.name

                        td.text-nowrap #{invoice.number}
                        td.text-nowrap #{client}
                        td.text-nowrap #{invoice.total}
                        - var gst = 0
                        each service in services
                            - var matches = invoice.services.filter((x) => x.service === service)
                            - var amount = 0
                            if (matches.length > 0)
                                - matches.map((match) => {
                                -     amount += parseFloat(match.amount);
                                -     gst += parseFloat(match.gst);
                                - })
                            td.text-nowrap #{amount ? amount.toFixed(2) : ''}
                        td.text-nowrap #{gst}