extends ../layout

block content

    link(rel='stylesheet', href='/css/jquery.onepage-scroll-0.0.1.min.css')
    script(type='text/javascript').
        var client = !{JSON.stringify(client)};
        var files = !{JSON.stringify(files)};
    script(src='/js/clients/client.js')
    script(src='/js/jquery.onepage-scroll-0.0.1.min.js')
    script(src="/js/jquery/jquery.easing.min.js")

    if (!client)
        - client = {};

    .card.offset-1.col-10
        .scroll-container
            form(method='post')
                include ../templates/client.jade

                br

                legend Other
                hr
                .form-group
                    .row
                        .col-2
                            label(for='incorpDate') Incorp Date
                            input#incorpDate.form-control.datepicker(name='incorp[date]' value=client.incorp && client.incorp.date ? convertDate(client.incorp.date) : '')
                        .col-2
                            label(for='incorpNumber') Incorp Number
                            input#incorpNumber.form-control(name='incorp[number]' value=client.incorp ? client.incorp.number : '')
                        .col-2
                            label(for='bnNumber') BN Number
                            input#bnNumber.form-control(name='bnNumber' value=client.bnNumber)
                        .col-2
                            label(for='pstNumber') PST Number
                            input#pstNumber.form-control(name='pstNumber' value=client.pstNumber)
                        .col-2
                            label(for='wcbNumber') WCB Number
                            input#wcbNumber.form-control(name='wcbNumber' value=client.wcbNumber)
                        .col-2
                            label(for='yearEnd') Year End
                            input#yearEnd.form-control(name='yearEnd' value=(client.yearEnd ? convertDate(client.yearEnd) : ''))

                br

                .form-group
                    .row
                        .col
                            label(for='services') Services
                            select#services.multiselect(multiple size=services.length name='services[]')
                                each service in services
                                    if (client.services && client.services.includes(service._id))
                                        option(selected)=service
                                    else
                                        option=service

                br

                legend Invoices
                hr
                - var companies = ['BLCL', 'Cantrust']
                .row
                    each company in companies
                        .form-group.col-6
                            h5=company
                            if (!invoices || invoices.length === 0)
                                p=`No invoices from ${company} have been issued yet.`
                            else
                                ul.list-group
                                    each invoice in invoices
                                        if invoice.company === company.toLowerCase()
                                            li.list-group-item
                                                a(href=`/invoices/${company.toLowerCase()}\/${invoice.number}.pdf`)=`${invoice.number} issued on ${convertDate(invoice.issueDate)}`
                br

                legend Files
                hr
                if (!client.files)
                    - client.files = [];
                .row
                    p#fileCount.col-8=`Client has ${client.files.length} ${client.files.length === 1 ? 'file' : 'files'}.`
                    p.col-4 Add files this client by double clicking a template listed here.
                .row
                    .col-8(style='max-height:300px;overflow-y:scroll')
                        ul#files.list-group

                    .col-4
                        select#templates.form-control(multiple size=10 name='files[]')
                            each file in files
                                option(value=file._id)=file.name

                br

                input.btn.btn-success.offset-1.col-10(type='submit' value='Save')