extends ../layout

block content

    script(type='text/javascript', src='/js/directory.js')

    #table.col-12
        table.cell-border
            thead
                tr
                    th Client Name
                    th Phones
                    th Contact
                    th Email
                    th Year End
                    th Status
            tbody
                each client in clients
                    tr(data-href="/clients/client/" + client._id)
                        td=client.name
                        td=client.phone
                        td=client.contactString
                        td=client.email
                        td=client.yearEnd ? convertDate(client.yearEnd) : ''
                        td=client.status