//
   Created by ander on 2017-09-18.

extends ../layout

block content
    script(type='text/javascript').
        var statuses = "#{statuses}";
        var initials = "#{initials}";
        var TABLE = !{JSON.stringify(TABLE)};
    script(src='/js/t1/clients.js')

    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(data-toggle='tab' href='#new') New
        li.nav-item
            a.nav-link(data-toggle='tab' href='#wip') WIP
        li.nav-item
            a.nav-link(data-toggle='tab' href='#ok') OK
        li.nav-item
            a.nav-link(data-toggle='tab' href='#emailed') Emailed
        li.nav-item
            a.nav-link(data-toggle='tab' href='#done') Done

    #table.col-12.tab-content(style='border-top: 0')
        - for (var i = 0; i < clients.length; i++)
            div(id=clients[i][0]).tab-pane
                table(id=clients[i][0] + 'Table').cell-border
                    thead
                        tr
                            each column in TABLE
                                th=column.header
                    tfoot
                        tr
                            each column in TABLE
                                th
                    tbody
                        each client in clients[i][1]
                            tr(data-href="/t1/client/" + client._id)
                                each column in TABLE
                                    - var value = column.value(client);
                                    - var classes = column.classes ? column.classes.join(' ') : '';
                                    td.text-nowrap(class=classes)=value