extends ../layout

block content
    if role == 'Administrator'
        script(type='text/javascript', src='/js/datatables/jquery.dataTables.min.js')
        script(type='text/javascript', src='/js/datatables/dataTables.buttons.min.js')
        script(type='text/javascript', src='/js/datatables/jszip.min.js')
        script(type='text/javascript', src='/js/datatables/buttons.html5.min.js')
    script(type="text/javascript", src='/js/jquery.floatThead.js')
    script(type='text/javascript').
        var TABLE = !{JSON.stringify(TABLE)};
        var role = !{JSON.stringify(role)};
    script(src='/js/t1/t1_efiled.js')

    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(data-toggle='tab' href='#t1') T1
        li.nav-item
            a.nav-link(data-toggle='tab' href='#done') Done

    #table.col-12.tab-content(style='border-top: 0')
        each table in clients
            div(id=table[0]).tab-pane
                table(id=table[0] + 'Table').cell-border
                    thead
                        tr
                            each column in TABLE.columns
                                th=column.header
                    tfoot
                        tr
                            each column in TABLE.columns
                                th=column.header
                    tbody
                        each client in table[1]
                            tr(data-href="/t1/client/" + client._id)
                                each column in TABLE.columns
                                    - var value = column.value(client);
                                    - var classes = column.classes ? column.classes.join(' ') : '';
                                    td.text-nowrap(class=classes)=value