//
   Created by ander on 2017-09-18.

extends layout

block content
    script(type='text/javascript').
        var statuses = "#{statuses}";
        var initials = "#{initials}";
    script(src='/js/clients/job_list.js')

    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(data-toggle='tab' href='#new') New
        li.nav-item
            a.nav-link(data-toggle='tab' href='#wip') WIP
        li.nav-item
            a.nav-link(data-toggle='tab' href='#ok') OK
        li.nav-item
            a.nav-link(data-toggle='tab' href='#emailed') Emailed
        li.nav-item
            a.nav-link(data-toggle='tab' href='#done') Done

    #table.col-12.tab-content(style='border-top: 0')
        - for (var i = 0; i < clients.length; i++)
            div(id=clients[i][0]).tab-pane
                table(id=clients[i][0] + 'Table').cell-border
                    thead
                        tr
                            th
                            th Slip
                            th Self Empl
                            th T1135
                            th Rental
                            th 777
                            th Stock
                            th New
                            th CFM PU
                            th Pickup Date
                            th Husband Last Name
                            th Husband First Name
                            th Wife Last Name
                            th Wife First Name
                            th Group
                            th IN
                            th PRE
                            th PRE OK
                            th CKR
                            th Ready To Pack
                            th Outstanding Info
                            th Emailed
                            th Signed
                            th Interview Date
                            th Phone Number
                            th Cell
                            th Email
                    tfoot
                        tr
                            th
                            th Slip
                            th Self Empl
                            th T1135
                            th Rental
                            th 777
                            th Stock
                            th New
                            th CFM PU
                            th Pickup Date
                            th Husband Last Name
                            th Husband First Name
                            th Wife Last Name
                            th Wife First Name
                            th Group
                            th IN
                            th PRE
                            th PRE OK
                            th CKR
                            th Ready To Pack
                            th Outstanding Info
                            th Emailed
                            th Signed
                            th Interview Date
                            th Phone Number
                            th Cell
                            th Email
                    tbody
                        each client in clients[i][1]
                            tr(data-href="/client/" + client.pathName)
                                td.text-nowrap #{client.fileName}
                                td #{client.slips ? 'Y' : ''}
                                td #{client.selfEmployed ? 'Y' : ''}
                                td
                                    if client.t1135 == 'N' || client.t1135 == ''
                                        | 0
                                    if client.t1135 == 'SIMPLE'
                                        | 1
                                    if client.t1135 == 'COMPLICATED'
                                        | 2
                                td #{client.rental ? 'Y' : ''}
                                td #{client.t777 ? 'Y' : ''}
                                td #{client.stocks ? 'Y' : ''}
                                td #{client.new ? 'Y' : ''}
                                td #{client.confirmPickupDate ? 'Y' : ''}
                                td.text-nowrap #{client.pickupDate}
                                td.text-nowrap #{client.husband ? client.husband.lastName : ''}
                                td.text-nowrap #{client.husband ? client.husband.firstName : ''}
                                td.text-nowrap #{client.wife ? client.wife.lastName : ''}
                                td.text-nowrap #{client.wife ? client.wife.firstName : ''}
                                td.text-nowrap #{client.group}
                                td #{client.interviewer}
                                td.text-nowrap #{client.preparer}
                                td.select #{client.preparerDone}
                                td.edit #{client.checker}
                                td.text-nowrap.date-edit #{client.readyToPack}
                                td.text-nowrap #{client.outstandingInfo}
                                td.text-nowrap.date-edit #{client.emailed}
                                td.text-nowrap.date-edit #{client.signed}
                                th.text-nowrap #{client.interviewDate}
                                th.text-nowrap #{client.tel.number}
                                th.text-nowrap #{client.cell.number}
                                th.text-nowrap #{client.email.value}