//
   Created by ander on 2017-11-01.

extends layout

block content
    script(type='text/javascript', src='/js/datatables/jquery.dataTables.min.js')
    script(type='text/javascript', src='/js/datatables/dataTables.buttons.min.js')
    script(type='text/javascript', src='/js/datatables/jszip.min.js')
    script(type='text/javascript', src='/js/datatables/buttons.html5.min.js')
    script(type='text/javascript', src='/js/datatables/datatables-sum.js')
    script(type='text/javascript', src='/js/payment/pay.js')

    #table.col-12.tab-content
        table.cell-border
            thead
                tr
                    th
                    th Date Rec'd
                    th Husband Last Name
                    th Husband First Name
                    th Wife Last Name
                    th Wife First Name
                    th Group
                    th PRE
                    th Pickup Date
                    th ADV
                    th INV
                    th CA
                    th CK
                    th DD
                    th ET
                    th
            tfoot
                tr
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
                    th
            tbody
                each client in clients
                    tr.clickable-row(data-href="/client/" + client.pathName)
                        td.text-nowrap #{client.fileName}
                        td.text-nowrap #{client.pytDate}
                        td.text-nowrap #{client.husband ? client.husband.lastName : ''}
                        td.text-nowrap #{client.husband ? client.husband.firstName : ''}
                        td.text-nowrap #{client.wife ? client.wife.lastName : ''}
                        td.text-nowrap #{client.wife ? client.wife.firstName : ''}
                        td.text-nowrap #{client.group}
                        td.text-nowrap #{client.preparer}
                        td.text-nowrap #{client.pickupDate}
                        td.text-nowrap #{client.pytReceived == 'ADV' ? client.pytAmount : ''}
                        td.text-nowrap #{client.pytReceived == 'INV' ? client.pytAmount : ''}
                        td.text-nowrap #{client.pytReceived == 'CA' ? client.pytAmount : ''}
                        td.text-nowrap #{client.pytReceived == 'CK' || client.pytReceived == 'CHQ' ? client.pytAmount : ''}
                        td.text-nowrap #{client.pytReceived == 'DD' ? client.pytAmount : ''}
                        td.text-nowrap #{client.pytReceived == 'ET' ? client.pytAmount : ''}
                        td