extends layout

block content
    script(type='text/javascript', src='/js/summary/summary.js')

    table.cell-border
        thead
            tr
                th
                th Normal
                th New
                th WIP
                th OK
                th Total Assigned
                th Done
                th Packed
        tfoot
            tr
                th
                th Normal
                th New
                th WIP
                th OK
                th Total Assigned
                th Done
                th Packed
        tbody
            - for (var user in data)
                tr
                    td #{user}
                    td #{data[user].new + data[user].wip + data[user].ok}
                    td #{data[user].new}
                    td #{data[user].wip}
                    td #{data[user].ok}
                    td #{data[user].total}
                    td #{data[user].done}
                    td #{data[user].packed}