//
   Created by ander on 2017-09-13.

extends layout

block content
    script(type="text/javascript", src='/js/users/users_list.js')

    ul.nav.nav-tabs
        - for (var i = 0; i < list.length; i++)
            li.nav-item
                a.nav-link(data-toggle='tab' href='#' + list[i][0]) #{list[i][0]}

    #table.tab-content(style='border-top: 0')
        - for (var i = 0; i < list.length; i++)
            div(id=list[i][0]).tab-pane
                table(id=list[i][0] + 'Table').cell-border
                    thead
                        tr
                            th
                            th Husband Last Name
                            th Husband First Name
                            th Wife Last Name
                            th Wife First Name
                            th Slips
                            th Self Empl
                            th T1135
                            th Rental
                            th 777
                            th Stocks
                            th New
                            th PRE OK
                            th CFM PU
                            th Pickup Date
                            th PRE
                    tfoot
                        tr
                            th
                            th Husband Last Name
                            th Husband First Name
                            th Wife Last Name
                            th Wife First Name
                            th Slips
                            th Self Empl
                            th T1135
                            th Rental
                            th 777
                            th Stocks
                            th New
                            th PRE OK
                            th CFM PU
                            th Pickup Date
                            th PRE
                    tbody
                        each client in list[i][1]
                            tr(data-href="/client/" + client.pathName)
                                td.text-nowrap #{client.fileName}
                                td.text-nowrap #{client.husband ? client.husband.lastName : ''}
                                td.text-nowrap #{client.husband ? client.husband.firstName : ''}
                                td.text-nowrap #{client.wife ? client.wife.lastName : ''}
                                td.text-nowrap #{client.wife ? client.wife.firstName : ''}
                                td #{client.slips ? 'Y' : ''}
                                td #{client.selfEmployed ? 'Y' : ''}
                                td
                                    if client.t1135 == 'N' || client.t1135 == ''
                                        | 0
                                    if client.t1135 == 'SIMPLE'
                                        | 1
                                    if client.t1135 == 'COMPLICATED'
                                        | 2
                                td #{client.rental ? 'Y' : ''}
                                td #{client.t777 ? 'Y': ''}
                                td #{client.stocks ? 'Y' : ''}
                                td #{client.new ? 'Y' : ''}
                                td.select.status.admin #{client.preparerDone}
                                td #{client.confirmPickupDate ? 'Y' : ''}
                                td.text-nowrap #{client.pickupDate}
                                td.select.initials.admin #{client.preparer}