doctype
html

    body

        h3='Dear ' + attention + ','
        br

        p We do not appear to have received your payment to our invoice No. #{number} for $#{amount} on #{date}, as attached, and look forward to your early settlement.
        br
        p Should you have paid before today, please ignore this reminder.
        br
        br
        p Thanks and regards,
        p #{user}
        p Benjamin Leung & Co., Ltd
        h5 Chartered Professional Accountant
        
