doctype
html

    body

        h3='Dear ' + attention + ','
        br

        p We do not appear to have received your payment to our invoice No. #{number} for $#{amount} on #{date}, as attached, and look forward to your early settlement.
        p Please ignore this reminder should you have paid before today.
        br
        br
        p Thanks and regards,
        |   #{user}<br/>
        |   Benjamin Leung & Co., Ltd<br/>
        |   <strong>Chartered Professional Accountant</strong>
        
