doctype
html

    body

        h3='Dear ' + attention + ','
        br

        p We do not appear to have received your payment to our Invoice No. #{number} for $#{amount} on #{date} as attached, and look forward to your early settlement.
        p If you have any questions, please contact Shirley Lau at (604) 273-8385 ext. 102 or shirley@ben-cpa.com.
        p Please ignore this reminder should you have paid before today.
        br
        br
        p Thanks and regards,
        |   #{user}<br/>
        |   Benjamin Leung & Co., Ltd<br/>
        |   <strong>Chartered Professional Accountant</strong>